
div.scrollmenu {
    background-color:#808080;
    overflow: auto;
    white-space: nowrap;}

div.scrollmenu a {
    float: right;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color:#333300;


.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
    
 
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + content {
  padding: 60px;
  }



body {background-color:#333300;
     }

    .footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #171717;
color: white;
text-align: center;
    }

